* {
  margin: 0;
  padding: 0;
}
.head_main {
  background-color: rgb(82, 82, 82);
}
.sub_division {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading h1 {
  color: rgb(202, 198, 198);
  font-size: xx-large;
}
.heading h2 {
  color: rgb(202, 198, 198);
  font-size: smaller;
}
.submitbn {
  background-color: orange;
  border: none;
  padding: 6px 11px;
  color: white;
  font-weight: 500;
}
.submitbn:hover {
  background-color: rgb(194, 127, 2);
  cursor: pointer;
}
.search {
  background-color: black;
  border: 1px solid rgb(236, 235, 235);
  padding: 5px 10px;
  font-weight: 500;
  color: white;
}
.nav_flex {
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: black;
  width: 80%;
  margin: 20px 0px;
}
.navbar ul {
  display: flex;
  padding: 20px 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 0px 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 0px 20px;
}
/* for the main body */

.container1 {
  display: flex;
  justify-content: center;
  padding: 30px 40px;
}
.leftbox {
  width: 30%;
  background-color: rgb(90, 89, 89);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(214, 207, 207);
  padding: 30px;
}
.leftbox a {
  text-decoration: none;
  color: red;
}
.leftbox h1 {
  font-size: 50px;
  font-style: italic;
  font-weight: 300;
}

.rightbox {
  height: 300px;
  width: 630px;
  background-color: rgb(63, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white;
  font-weight: 700;
}

/* for container 2 */

.container2 {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}

.article_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
figcaption {
  text-align: center;
}
figcaption a {
  text-decoration: none;
  color: orange;
  font-weight: 700;
}
img {
  margin: 5px 15px;
}
.images ul {
  display: flex;
  list-style: none;
}

/* for class lastdiv  */

.lastdiv {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0px;
}
.sectiona {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}
.sectiona a {
  text-decoration: none;
  color: orange;
}

.sectiona header {
  margin: 20px 0px;
}
.sectiona footer {
  margin: 30px 0px;
}
.sectionb {
  display: flex;
  flex-direction: column;
  width: 20%;
  /* justify-content: space-between; */
}
.sectionb nav ul li a {
  text-decoration: none;
  color: orange;
}
.sectionb nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.sectionb nav ul li {
  margin: 10px 0px;
  padding-bottom: 5px;
  list-style-type: circle;
  border-bottom: 1px solid black;
}
.sectionb nav {
  margin-top: 20px;
}

.sectionc {
  display: flex;
  width: 40%;
}
.sectionc h2 {
  margin-bottom: 30px;
}

.two {
  margin-top: 60px;
}
.two footer a {
  text-decoration: none;
  color: orange;
  float: right;
}
.two footer {
  margin-top: 45px;
}

/* for footer  */

.clear1 {
  background-color: rgb(34, 34, 34);
  color: rgb(219, 219, 219);
  display: flex;
  padding: 20px 0px;
  justify-content: space-around;
}
.clear1 p a {
  text-decoration: none;
  color: rgb(219, 219, 219);
}
